<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit text-primary"></i> Change Password
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Current Password</label>
                        <div class="col-md-9">
                            <input type="text" ng-if="showPasswordIsChecked" ng-model="data.CurrentPassword" class="form-control" placeholder="Current Password">
                            <input type="password" ng-if="!showPasswordIsChecked" ng-model="data.CurrentPassword" class="form-control" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">New Password</label>
                        <div class="col-md-9">
                            <input type="text" ng-if="showPasswordIsChecked" ng-model="data.NewPassword" class="form-control" placeholder="New Password">
                            <input type="password" ng-if="!showPasswordIsChecked" ng-model="data.NewPassword" class="form-control" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Confirm Password</label>
                        <div class="col-md-9">
                            <input type="text" ng-if="showPasswordIsChecked" ng-model="data.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <input type="password" ng-if="!showPasswordIsChecked" ng-model="data.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" ng-model="showPasswordIsChecked"> 
                        Show Password
                    </label>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" ng-click="changePassword()">
                        <i class="fa fa-check"></i> Change Password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>