<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-pie-chart text-primary"></i>Course PO Attainment
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control">
                                <option value="0">Choose Course</option>
                                <option value="1">Engineering</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control">
                                <option value="0">Choose Branch</option>
                                <option value="1">Computer Science</option>
                                <option value="1">Electronics and Communication</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control">
                                <option value="0">Choose Sem</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control">
                                <option value="0">Choose Subject</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control">
                                <option value="0">Choose Class</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-md btn-block btn-primary">
                            <i class="fa fa-pie-chart"></i> Show Attainment</button>
                        </div>
                    </div>
                    <table class="table table-outline table-responsive-sm mb-0" style="margin-top: 15px;">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th>No</th>
                                <th>PO</th>
                                <th>Description</th>
                                <th>Attainment</th>
                                <th>CO's Mapped</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" style="vertical-align:center;">

                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    PO1
                                </td>
                                <td>
                                    Description of program outcome
                                </td>
                                <td>
                                    60%
                                </td>
                                <td>CO1, CO2, CO4</td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    PO2
                                </td>
                                <td>
                                    Description of program outcome
                                </td>
                                <td>
                                    59.75%
                                </td>
                                <td>CO1, CO2, CO4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>