<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-table text-primary"></i> Evaluation Register
                </div>
                <div class="card-body">
                    <div class="row justify-content-center" style="margin-bottom:15px;">
                        <div class="col-md-2">
                            <select class="form-control" ng-model="selected.courseId" ng-options="course.Id as course.Name for course in courses" ng-change="courseSelected(selected.courseId)">
                                <option value="">Choose a {{keywords.CourseKeyword}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="selected.branchId" ng-options="branch.Id as branch.Name for branch in branches" ng-change="branchSelected(selected.branchId)">
                                <option value="">Choose a {{keywords.BranchKeyword}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="selected.semesterId" ng-options="semester.Id as semester.SemesterNumber for semester in semesters" ng-change="semesterSelected(selected.semesterId)">
                                <option value="">Choose a {{keywords.SemesterKeyword}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="selected.classId" ng-options="class.Id as class.Name for class in classes">
                                <option value="">Choose a {{keywords.ClassKeyword}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="selected.subjectId" ng-options="subject.Id as subject.Name for subject in subjects" ng-change="getStudents()">
                                <option value="">Choose a {{keywords.SubjectKeyword}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-show="students.length > 0">
                        <div class="col-md-2" style="padding-right:0">
                            <table class="table table-responsive-sm table-bordered mb-0" style="margin-top:92.8px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">
                                            Students
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="student in students">
                                        <td class="text-center">{{student.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-10" style="padding-left:0; overflow-x: auto;">
                            <table class="table table-responsive-sm table-bordered mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th ng-repeat="primeSkill in primeSkills" colspan="{{primeSkill.Colspan}}" class="text-center">
                                            {{primeSkill.Name}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="test in tests" colspan="{{test.Criterias.length}}" class="text-center">
                                            {{test.Name}} ({{test.TestDate | date: 'dd/MM/yyyy'}})
                                        </th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="criteria in allCriterias()" class="text-center" title={{criteria.Name}}>
                                            {{criteria.Name | showFirstCharacter}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="student in students">
                                        <td ng-repeat="score in student.CriteriaScores | orderBy: 'TestId'" class="text-center">
                                            {{score.MarksScored || '-'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-hide="students.length > 0">
                        <div class="col-md-12 text-center">
                            Select a subject to see the report!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>