<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-money text-primary"></i>Direct and Indirect Course Attainment Weightages
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">SEE</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 40%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">IA</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 60%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">SEE + IA</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 90%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">Survey/Quiz</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 10%">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-money text-primary"></i>Benchmark
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">Level 1</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 60%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">Level 2</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 70%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">Level 3</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 80%">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-money text-primary"></i>Set CO Target
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">CO Target for IA</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 60%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">CO Target for SEE</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 60%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label" for="text-input">CO Target for Survey</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eg: 60%">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>